* {
    /* Redefinir todas as margens e blocos para 0 */
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;
    max-width: 1440px;

    & .link {
        text-decoration: none;
        /* Remover sublinhado do link */
        color: var(--primaria);
        /* Cor do texto */
    }
}

:root {/* Definir variáveis para as cores */
    --primaria: #000000;    /* Preto */
    --secundaria: #0017E9;      /* Azul */
    --terciaria: #FFFFFF;   /* Branco */
    
}
html {
    scroll-behavior: smooth;
}

body {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    & header {
        /* Estilizar o cabeçalho */
        background: var(--terciaria);
        width: 100%;
        height: 1024px;

        & #topo {
            width: 100%;
            min-height: 120px;
            display: flex;  /* Fazer com que os elementos fiquem lado a lado */
            justify-content: space-between;/* Espaçamento entre os elementos */
            gap: 20px;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding: 0 20px;


            & .logo {
                width: 242px;
                font-size: 40px;
                font-weight: 700;
                top: 46px;
                margin-left: 110px;
            }

            & .navegacao {
                display: flex;
                justify-content: flex-end;  /* Alinhar os elementos à direita */
                flex: 1 3 60px; /* Fazer com que o elemento ocupe todo o espaço disponível */
                
                & nav {
                    display: flex;
                    justify-content: flex-end;
                    & ul {
                        display: flex;
                        justify-content:flex-end ;
                        align-items: flex-end;

                        & li {
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;
                            list-style: none;
                            margin: 0 20px;
                            font-size: 20px;
                            font-weight: 700;
                            color: var(--primaria);
                        }
                    }
                }    
            }

            & .botao {   /* Estilização do botão */
                
                border: 3px solid var(--primaria);  /* Borda do botão */
                padding: 10px 30px;     /* Espaçamento interno do botão */
                font-size: 30px;    /* Tamanho da fonte */
                font-weight: 700;
                cursor: pointer;

                display: flex;
                flex: 0 1 70px;     /* Fazer com que o botão ocupe apenas o espaço necessário */
                justify-content: flex-end;
            }
        }

        & .banner {     /* Estilização do banner */
            width: 100%;
            height: 634px;
            max-width: 100%;
            background: url('../IMG/background1.png') no-repeat center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & .texto {   /* Estilização do texto */
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                color: var(--terciaria);
                font-size: 60px;
                font-weight: 700;
                margin-left: 130px;
                margin-bottom: 20px;
                
                top: 311px;
                left:   127px ;

                & h1 {
                    width: 100%;
                    font-size: 96px;
                    font-weight: 700;
                    color: var(--terciaria);
                    text-align: justify;
                    margin-bottom: 10px;
                }
                
                & p {
                    width: 100%;
                    font-family: 'oswald', sans-serif;
                    font-weight: 200;
                    font-size: 30px;
                    color: var(--terciaria);
                    margin: 0 0 10px 0;
                    
                }
                
                & a {
                    /* Estilização do botão */  
                    
                    padding: 5px 50px;/* Espaçamento interno do botão */
                    background-color: var(--secundaria);
                    color: var(--terciaria);
                    font-size: 24px; /* Tamanho da fonte */
                    font-weight: 700;
                    text-decoration: none;
                    cursor: pointer;
                    margin-left: 15px;
                    
                }
                
            }
        }
    }
    & main {
        width: 100%;
        
        & #sobre {
            width: 100%;
            min-height: 100vh;
            display: flex; /* Fazer com que os elementos fiquem lado a lado */
            flex-wrap: wrap;
            justify-content: space-between; /* Espaçamento entre os elementos */

            & .conteudo {
                
                width: 679px;
                height: 732px;
                padding: 20px 70px ;
                margin: 0px 30px 70px 30px;    /* Espaçamento interno do conteúdo */
                
                & h2 {
                    font-size: 24px;
                    font-weight: 500;
                    color: var(--secundaria);
                    margin:  60px 0px;
                    line-height: 36px;
                }

                & h3 {
                    font-family: 'roboto', sans-serif;
                    font-size: 36px;
                    font-weight: 800;
                    color: var(--primaria);
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                    line-height: 43px;
                }

                & p {
                    font-family: 'roboto', sans-serif;
                    font-size: 24px;
                    color: var(--primaria);
                    margin-bottom: 30px;
                    line-height: 29px;
                }
                
                & a {   /* Estilização do botão */
                    
                    color: var(--secundaria);
                    text-decoration: none;
                    margin-left: 30px;
                }
            }

            & .img-sobre {  /*Estilização dos elemento de imagem*/
                & img {
                    width: 679px;
                    height: 732px;
                    padding: 20px;
                }
            }
        }

        & #servicos {
            width: 100%;
            height: 100vh;
            background: #c9c9c9;
            display: flex;
            flex-direction: column;
            padding: 50px 20px 90px 20px;
            margin-bottom: 50px;
            ;

            & h2 {
                color: var(--secundaria);
                text-align: center;
                font-size: 24px;
                padding-bottom: 30px;
            }

            & h3 {
                text-align: center;
                font-size: 24px;
                padding-bottom: 50px;
            }

            & .cards{
                width: 100%;
                display: flex;
                justify-content: space-around;
                gap: 20px;
                padding: 0 20px;

                & .box {
                    width: 367px;
                    height: 518px;
                    background: var(--terciaria);
                    display: block;
                    overflow: hidden;

                    & img {
                        width: 367px;
                        height: 259px;
                    
                    }
                    & h4, p {
                        padding: 20px;
                        font-size: 24px;
                    
                    }
                    & p {
                        font-weight: 200;
                    }

                }
            }
        }

        & #contato {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
            margin-bottom: 30px;

            & h2{
                color: var(--secundaria);
                font-family: 32px;
                font-weight: 500;
                
                
            }
            & h3 {
                
                font-family: 32px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            & .atendimento {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                
                gap: 10px;
                padding: 20px 0;
                margin-top: 20px;
                margin-bottom: 20px;
                
                & p {
                    font-size: 24px;
                    font-weight: 400;
                    margin-left: 30px;
                }

                & .img-atendimento {
                    width: 275px;
                    height: 280px;
                    padding: 20px;
                }
            }

            & .fale-conosco {
                width: 100%;

                & form {
                    display: flex;
                    flex-direction: column;
                    height: 100vh;
                    margin-top: 150px;
                    max-width: 400px;
                    padding: 20px;
                    
                    & label {
                        display: block;
                        margin-top: 20px;
                        font-size: 20px;
                        height: 30px;
                        width: 61px;
                        font-weight: 300;
                        line-height: 30px;
                    }
                    & input, textarea {
                        width: 100%;
                        height: 70px;
                        padding: 10px;
                        margin-top: 15px;
                        border: 1px solid #ccc;
                    }
                    & button {
                        width: 100%;
                        font-size: 24px;
                        font-weight: 500;
                        padding: 10px;
                        margin-top: 40px;
                        cursor: pointer;
                        color: var(--terciaria);
                        background-color: var(--secundaria);
                    }
                }
            }

        }
    }

    & footer {
        width: 100%;
        text-align: center;
        background: #c9c9c9;
        margin-bottom: 10px;
        padding: 10px;
    }
}
